* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Aubrey', cursive;
}

div#wrapper{
background-color: rgb(250,241,234);
}
header {
    background-color: rgb(193,240,223);
    text-align:center;
}
img#logo{
    width: 320px;
}
img{
    width: 100%;
}
nav{

}
ul {
    padding: 0;
    margin: 0;
}
li{
    background-color: rgb(128,128,128);
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid white;
}
li a {
    color: white;
    text-decoration: none;
}
h3{
    color: crimson;
    font-size: 23px;
}
section{
    padding: 20px;
}
footer{
padding: 20px;
    background-color: rgb(128,128,128);
    color: white;
    clear: both;
}
footer h3 {
    color: white;
}
@media all and (min-width: 591px) {
    ul {
        background-color: rgb(128, 128, 128);
    }

    li {
        display: inline-block;
        border: none;
    }


    section#news {
        float: left;
        width: 40%;
    }

    section#artist {
        float: right;
        width: 60%;
    }
}

@media all and  (min-width: 700px){
    section#news {
        float: left;
        width: 30%;
    }

    section#artist {
        float: right;
        width: 70%;
    }

    article {
        display: inline-block;
        width: 46%;
        margin-right: 20px;
    }

    article:nth-child(even){
        margin-right: 0;
    }
}

@media all and  (min-width: 1200px){
    div#wrapper{
        width: 1200px;
        margin: auto;
    }

}