body {
    background-color: yellow;
}
header {
    padding: 20px;
    background-color: red;
    margin: auto;
    margin-bottom: 30px;
    width: 960px;
}
section {
    margin: auto;
    background-color: green;
    border: 1px solid black;
    width: 960px;
    height: 600px;
}
footer{
    margin: auto;
    background-color: black;
color: white;
    padding: 20px;
    width: 960px;
}